{{ if eq .Params.toc true }}
<details class='container entry-toc' open>
  <summary class='title'>
    <span>
      {{- i18n "tableOfContents" -}}
    </span>
  </summary>
  {{ .TableOfContents }}
  <hr>
</details>
{{ end }}
