{{- $defaultConfig := .Site.Data.config.default.widgets.lastmod_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.lastmod_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

{{ $byLastMod :=  .Site.RegularPages.ByLastmod  }}
{{ $recent := ($byLastMod | last $length ).Reverse }}

<section class='widget widget-lastmod_posts sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- $config.title | default ( i18n "recentPosts" ) -}}
    </h4>
  </header>

  <ul class='list'>
  <!-- orders content according to the "lastmod" field in front matter -->
    {{ range $recent }}
        <li class='item'>
          <header class='item-header'>
            <h3 class='item-title'>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
          </header>
        </li>
    {{ end }}
  </ul>
</section>
